    <div class="center-block">
        <header class="center-block">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="contacts">
                            <div class="phone">8-800-100-97-54</div>
                            <div class="desc">24 часа, звонок по России бесплатный</div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="logo">
                            <div class="title text-center"><span>C</span>enter<span>S</span>ell</div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="auth text-right">
                            <a href="#" class="btn btn-default registration">Регистрация</a>
                            <a href="#" class="btn btn-primary login"><i class="fa fa-user"></i>Вход</a>
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    <hr>
                    
                    <nav>
                        <a href="#">Все аукционы</a>
                        <a href="#">Как это работает</a>
                        <a href="#">Доставка</a>
                        <a href="#">Вопросы-ответы</a>
                        <a href="#">Бонусы</a>
                        <a href="#">Обратная связь</a>
                        <a href="#">О нас</a>
                        <a href="#" class="search"><i class="fa fa-search"></i></a>
    
                        <div class="clearfix"></div>
                    </nav>
                    
                </div>
            </div>
            
        </header>
        
        <div id="main-slider">
            <div class="item">
                <div class="container">
                    <div class="ribbon">
                        Каждый <span>четвертый</span> товар в подарок
                    </div>
                    <img src="./img/slider-mobiles.png" alt="">
                </div>
            </div>
        </div>
        

        <div class="bg-body">
            <div id="catalog-list">
                <div class="container">
                {{outlet}}
                <div class="clearfix"></div>
                </div>
            </div>

            <footer>
                <div class="container">
                    <div class="payments text-center">
                        <div class="item">
                            <img src="./img/payments/visa-mastercard.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./img/payments/qiwi.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./img/payments/yandex.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./img/payments/mts.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./img/payments/beeline.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./img/payments/tele2.jpg" alt="">
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="row">
                        <div class="basement">
                            <div class="col-xs-4">
                                <div class="logo"><span>C</span>enter<span>S</span>ell</div>
                                <div class="contacts">
                                    <div class="phone">8-800-100-97-54</div>
                                    <div class="desc">24 часа, звонок по России бесплатный</div>
                                </div>
                                <div class="social">
                                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <h6>CENTESELL</h6>
                                <ul>
                                    <li><a href="#">Все аукционы</a></li>
                                    <li><a href="#">Личный кабинет</a></li>
                                    <li><a href="#">Купить ставки</a></li>
                                </ul>                            
                            </div>
                            <div class="col-xs-3">
                                <h6>Важная информация</h6>
                                <ul>
                                    <li><a href="#">Пользовательское соглашение</a></li>
                                    <li><a href="#">Условия купли-продажи</a></li>
                                    <li><a href="#">Обработка персональных данных</a></li>
                                    <li><a href="#">Партнерская программа</a></li>
                                </ul>                            
                            </div>
                            <div class="col-xs-3">
                                <h6>Полезные ссылки</h6>
                                <ul>
                                    <li><a href="#">Как это работает</a></li>
                                    <li><a href="#">Доставка</a></li>
                                    <li><a href="#">Бонусная программа</a></li>
                                    <li><a href="#">Обратная связь</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="ps">
                        <div>
                            &laquo;Аукцион&raquo; &mdash; название акции, проводимой в соответствии 
                            с Пользовательским соглашением, размещенным на данном сайте.
                        </div>
                        <div>
                            &laquo;Аукционная стоимость&raquo; &mdash; это установленная по итогам Акции цена Товара. 
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    