{{#list-filter
   filter=(action 'filterByTitle')
   as |auctions|}}
  <ul class="results">
    {{#each auctions as |auctionUnit|}}
      <li>{{auction-listing auction=auctionUnit}}</li>
    {{/each}}
  </ul>
{{/list-filter}}

